body {
  background-color: olivedrab;
}

ul {
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  list-style-type: none;
}

.theBar {
  border: 5px solid darkgray;
  padding: 1%;
  background-color:darkgray
}

#weedHero {
  margin: auto;
}


.midsection {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  padding: 1%;
}