@charset "utf-8";

/* CSS Document */

 

body {

                background-color: cadetblue;

}

 

h1 {

                text-align: center;

}

 

.whiteborder {

                background-color: #FFFFFF;

                margin: auto;

}

 

.info {

                display: flex;

                flex-direction: column;

                justify-content:center;

                

}